// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//
// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;
$black: #000;

// Customize some defaults
$body-color: $black;
$body-bg: #ffffff;
$border-radius: .4rem;


// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

* {
  margin: 0;
  padding: 0;
}

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Shadows+Into+Light&display=swap');


@font-face {
  font-family: "AdobeClean-Light";
  src: url("../../fonts/webfont/AdobeClean-Light.woff") format("woff");
}

@font-face {
  font-family: "AdobeClean-Regular";
  src: url("../../fonts/webfont/AdobeClean-Regular.woff") format("woff");
}

@font-face {
  font-family: "AdobeClean-Bold";
  src: url("../../fonts/webfont/AdobeClean-Bold.woff") format("woff");
}

@font-face {
  font-family: "AdobeClean-ExtraBold";
  src: url("../../fonts/webfont/AdobeClean-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "AdobeClean-SemiLight";
  src: url("../../fonts/webfont/AdobeClean-SemiLight.woff") format("woff");
}

@font-face {
  font-family: "AdobeClean-Bold-Italic";
  src: url("../../fonts/webfont/AdobeClean-BoldIt.woff") format("woff");
}

body {
  font-family: "AdobeClean-Light", apple-system, sans-serif;
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

body {
  min-height: 75rem;
  padding-top: 3.1rem;
  padding-bottom: 2rem;
}

h1, h2, h3 {
  font-family: "AdobeClean-ExtraBold";  
  font-style: normal;
  font-weight: 800;	
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin:0;
}

p.regular {
  font-family: "AdobeClean-Regular"; 
  font-size: 1rem;
  line-height: 1.3rem;
  margin:0;
}

p.upper {
  font-family: "AdobeClean-ExtraBold";	
  font-size: 0.8rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  margin:0 !important;
  padding:0 !important;
}

hr {
  border-top: 1px solid #000;
  margin:0 !important;
  padding:0 !important;
}

.small {
  font-size: 0.9rem !important;
  font-family: "AdobeClean-Light" !important;
  line-height: 1.3rem !important;;	
}
.x-small {
  font-size: 0.7rem !important;
  font-family: "AdobeClean-Light" !important;
  line-height: 1.3rem !important;;  
}

.big {
  font-size: 1.3rem;	
}
.date {
  font-size: 1rem !important;
  font-family: "AdobeClean-Regular" !important;	
  //padding-bottom: 0.7rem;
}

.tag-inactive, .tag-resume {	
  padding: 0 1.4em !important;
  font-size: 0.7rem !important;
  margin-right: 0.8em !important;  
  margin-bottom: 0.8em !important;
  line-height: 1.6em !important;
}

@media only screen and (min-width: 0) {
  h1 {
    font-size: 2.1rem;
    line-height: 2.7rem;
    color: #000;
    padding: 0.7rem 0;
    margin: 0;	
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000;
    padding: 0.7rem 0;
    margin: 0;	
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #000;
    padding: 0.7rem 0;	
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.1rem;
    line-height: 2.7rem;
    color: #000;
    padding: 0.7rem 0;
    margin: 0;	
  }

  h2 {
    font-size: 1.9rem;
    line-height: 2.4rem;
    color: #000;
    padding: 0.7rem 0;
    margin: 0;	
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #000;
    padding: 0.7rem 0;	
    margin: 0;
  }
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: line-through;
}

a:active {
  color: #000;
  text-decoration: none;
}

a.ex-link:link {
  background: linear-gradient(to left, #098EB2, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.ex-link:visited {
  color: #000;
  text-decoration: none;
}

a.ex-link:hover {
  background: linear-gradient(to right, #098EB2, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.ex-link:active {
  color: #000;
  text-decoration: none;
}

b {
 font-family: "AdobeClean-Bold-Italic";
}

strong {
 font-family: "AdobeClean-Bold";
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: auto;
}
.badges-icons {
  margin: 1rem 0 2rem 0;
}

.badges-icons img {
  margin: 0 1rem 0.5rem 1rem;
}
.badges-icons p {
  text-align: center;
}
.menu {
  font-family: "AdobeClean-Bold";
}

.notation {
  font-family: 'Shadows Into Light', cursive;
}

.hyperlink {
  font-family: "AdobeClean-SemiLight";
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff; 
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.footer img {
  padding: 0.3rem 0.6rem 0.3rem 0;
}

.footer span {
  font-family: "AdobeClean-SemiLight";
  background: linear-gradient(to left, #FF6B6B, #098EB2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.btn {	
  font-family: "AdobeClean-SemiLight";
}

#square {
  width: 2.3rem;
  height: 2.3rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.blue {
  background: #0578FF;
}
.red {
  background: #ED093F;
}
.green {
  background: #00AB85;
}
.orange {
  background: #FFA410;
}
.purple {
  background: #9013FE;
}
.yellow {
  background: #F8E71C;
}

.grid-badges {
  display: grid;
  grid-template-columns: 2.3rem auto; 
  grid-template-rows: 2.3rem;
  grid-gap: 1rem;
  margin-top: 1rem; 
}
img.label {
	max-width: 6rem;
}

#logo {	
  padding: 0 1.4rem;
  margin: auto 0;
}

.logo-big {
	width: 5.4rem;
}
.icon-med {
  width: 2.4rem;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.top-left {
  z-index: 4;
  position: fixed;
}

.container-zoom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/gradient.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 0;
  height: 100%;
  z-index: 9;
}

.container-zoom.active {  
  animation: bgchange 1s forwards;
}

.container-zoom.active .center, .container-zoom.active .close-zoom-btn { 
  opacity:1;
  transition: opacity 1s ease-in-out 1s;
}

@keyframes bgchange {

  from {background-color: transparent; background: url(../images/gradient.png); width:0;}
  70% {background-color: transparent; background: url(../images/gradient.png); width: 100%;}
  to {background-color: #000; background-image:none; width: 100%;}
}

.align-center {
	text-align: center;
}

.badges img {
	padding: 0.6rem 0.6rem;
	max-width: 5.4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0s;  
}

.close-zoom-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top:0.4rem;
  right:0.5rem;
  opacity: 0;

  transition: opacity 1s ease-in-out 1s;
}

.fixed-menu-bg {
  position: fixed;
  top:0;
  left:0;
  z-index: 5;
  background: url(../images/gradient.png) no-repeat center;
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;

  -webkit-transition: width 1s, height 1s ease-in-out;
  -moz-transition: width 1s, height 1s ease-in-out;
  -ms-transition: width 1s, height 1s ease-in-out;
  -o-transition: width 1s, height 1s ease-in-out;
  transition: width 1s, height 1s ease-in-out;
}

.fixed-menu-bg.active {
  width: 100%;
  height: 100%;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  background-color: rgba(255, 255, 255, 0.8);

  -webkit-transition: width 1s, height 1s ease-in-out;
  -moz-transition: width 1s, height 1s ease-in-out;
  -ms-transition: width 1s, height 1s ease-in-out;
  -o-transition: width 1s, height 1s ease-in-out;
  transition: width 1s, height 1s ease-in-out;

 }

.fixed-menu-bg.active ul.menu {
  visibility: visible;
  opacity: 100%;
  transition: opacity 1s ease-in-out 0.5s;
}

.fixed-menu {
  position: absolute;
  z-index: 8;
  text-align: center;
}

ul.menu {
  list-style-type: none;
  padding: 0.7rem 0 0 0;
  visibility: hidden;
  opacity: 0;
}

.menu li { 
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding: 0.9rem 0;
  margin: 0;
}

.thumb {
  position: relative;
  top: 0;
  left: 0;

}
.zoom {
  cursor: pointer;
}
.c-hand {
  cursor: pointer;  
}

.overlay {
  opacity: 0;
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;	
}

.overlay-text {
  position: absolute;
  z-index: 3;
  top: calc(50% - 0.7rem);
  left: calc(50% - 3.3rem);
  opacity: 0;

  -webkit-transition: opacity 1s ease-in-out 0.5s;
  -moz-transition: opacity 1s ease-in-out 0.5s;
  -ms-transition: opacity 1s ease-in-out 0.5s;
  -o-transition: opacity 1s ease-in-out 0.5s;
  transition: opacity 1s ease-in-out 0.5s;
}

.overlay-icon {
  position: absolute;
  width: 1.8rem;
  z-index: 3;
  top:0.4rem;
  right:0.5rem;
  opacity: 0;

  -webkit-transition: opacity 1s ease-in-out 0.5s;
  -moz-transition: opacity 1s ease-in-out 0.5s;
  -ms-transition: opacity 1s ease-in-out 0.5s;
  -o-transition: opacity 1s ease-in-out 0.5s;
  transition: opacity 1s ease-in-out 0.5s;
}

.thumb:hover .overlay-text, .thumb:hover .overlay, .thumb:hover .overlay-icon {
  opacity: 100;
}

.thumb.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.backgr {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;	
}

.lnr {  
  font-size: 0.9rem;
  position: relative;
  top: 0.17rem;
  right: 0.3rem;
}

.forwho img {
	padding: 0 1rem 0.8rem 0;
}

// Nav
.navbar {	
  overflow: hidden;
  z-index: 4;
}

.work-filter {
  display: grid; 
  justify-content: center;
  grid-template-columns: auto; 
  grid-template-rows: auto;	
  padding: 1rem 0;
}

.work-filter p {
  font-family: "AdobeClean-SemiLight";
  padding: 0 1.4em;
  font-size: 0.7rem;
  margin-right: 0.8em;  
  margin-bottom: 0.8em;
  line-height: 2.1em;
}

.grid-navbar {
  display: grid;
  grid-gap: 0;
  padding: 0;
}
.grid-top {
  display: grid;
  grid-template-rows: auto;
  padding-top: 0.7em;
}
.grid-container-image {
  display: grid;
  grid-template-rows: auto;
  padding-top: 0.7em;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  padding-top: 0.7em;
}
.grid-col-3 img {
  padding: 2rem 0;
}
.screen img {
	  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.08));
}
.padding-right p {
  padding-right: 1.2rem;
}
img.halfsize {
  max-width: 50%;
  height: auto;
} 
.img-r img {
  float: right;
}

@media only screen and (min-width: 0px) {
  .v-img-padding {
    padding: 1rem 2rem;
  }

  ul.menu {
  	margin: 3.1rem 0 0 3.2rem;
  }
  .copyright{
    margin-left: 3.2rem;
  }
  .top-left {
    width: 3.2rem;
    height: 3.1rem;
  }
  .logo-big {
	  width: 4.4rem;
  }
  .margin-lateral {
    margin-left: 3.2rem; 
    margin-right: 2rem; 	
  }
  .fixed-menu-bg, .fixed-menu {
  	width: 3.2rem;
  	height: 3.1rem;
  }

  .grid-navbar {
    grid-template-columns: auto;
    grid-template-rows: 3.1em;
  }
  .grid-navbar > div {
  	text-align: center;
  }
  .grid-top {
    grid-template-columns: auto;
    margin-left: 3.2rem;
    margin-right: 1rem;
  }
  .work-filter {
    margin-left: 0;
  }
  .grid-container-image {
    grid-template-columns: auto;
    grid-gap: 1.0em;
  }
  .grid-container-about, .grid-container {
	  display: grid;
    grid-template-columns: auto;
    grid-gap: 1.0em;
    align-items: start;
  }
  .grid-col-2-full {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1rem;
  }

}

@media only screen and (min-width: 414px) {

  .margin-lateral {
    margin-left: 0; 
    margin-right: 0; 	
  }
  .work-filter {
    margin-left: 3.2rem;
  }
  .grid-container-image {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.0em 3.2em;
    margin-left: 3.2rem;
  }

}

@media only screen and (min-width: 900px) { 

  .v-img-padding {
    padding: 0 !important;
  }

  ul.menu {
  	margin: 3.1rem 0 0 5.28rem;
  }
  .copyright{
    margin-left: 5.28rem;
  }

  .top-left {
    width: 5.28rem;
    height: 3.1rem;
  }
  .margin-lateral {
    margin-left: 0;  	
  }
  .fixed-menu-bg, .fixed-menu {
  	width: 5.28rem;
  	height: 3.1rem;
  }

  .grid-navbar > div {
  	text-align: right;
  }
  .grid-top {
    grid-template-columns: 39em auto;
    grid-gap: 2.7em 4.1em;
    margin-left: 5.28rem;
  }
  .work-filter {
    margin-left: 5.28rem;
  }
  .grid-container-image {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.0em 4.1em;
    margin-left: 5.28rem;
  }
  .grid-container-about, .grid-container {
	  display: grid;
	  grid-template-columns: repeat(5, minmax(0, 1fr));
	  grid-gap: 4.7rem 2.7rem;
	  margin-left: 5.28rem;
  }
	.grid-col-2 {
	  display: grid;
	  grid-template-columns: repeat(2, minmax(0, 1fr));
	  grid-gap: 1rem;
	}
  .grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.7rem 2.7rem;
    margin-left: 5.28rem;
  }
  .grid-col-2-full {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4.7rem 2.7rem;
    margin-left: 5.28rem;
  }

	.item-left-3 {	
	  grid-column: 1 / span 3;
	}
	.item-left-2 {	
	  grid-column: 1 / span 2;
	}
	.item-center {	
	  grid-column: 2 / span 2;
	}
	.item-center-2 {	
	  grid-column: 3 / span 2;
	}
	.item-right-align-1 {	
	  text-align: right;	
	}
	.item-right-2 {	
	  grid-column: 4 / span 2;
	}
	.item-right-align-2 {	
	  text-align: right;	
	  grid-column: 4 / span 2;
	}
	.item-right-3 {	
	  grid-column: 3 / span 3;
	}
	.item-right-align-3 {
	  text-align: right;	
	  grid-column: 3 / span 3;
	}
}

@media only screen and (min-width: 1500px) {

  .grid-top {
    grid-template-columns: 39em auto;
    grid-gap: 2.7em 8.1em;
    margin-left: 5.28rem;
  }

  .grid-container-image {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.0em 8.1em;
    margin-left: 5.28rem;
  }
}

.grid-container-image > div {
  text-align: left;
}

.grid-container-image p {	
  font-family: "AdobeClean-SemiLight";
  padding: 0 1.4rem;
  font-size: 0.7rem;
  margin-right: 0.8em;  
  margin-bottom: 0.8em;
  line-height: 1.6em;
}

.grid-container-about p {	
  font-family: "AdobeClean-SemiLight";
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin-bottom: 1rem;
}

.grid-container p {	
  margin-bottom: 1rem;
}

#tag {
  height: 1.3rem;
}

#filter {
  height: 1.6rem;
}

#tag, #filter {
  display: inline-block;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  $border: 1px;
  background: #fff;
  background-clip: padding-box; 
  border: solid $border transparent; 
  border-radius: 2em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; 
    border-radius: inherit; 
  }
}

.grid-container-image a:hover .tag-project {
  &:before {
    background: linear-gradient(to left, #2E9EC6, #F3AE6D);
  }
}

.grid-container-image a:hover .tag-project span {

  background: linear-gradient(to left, #2E9EC6, #F3AE6D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-filter a:hover .all, .all.active {
  &:before {
    background: linear-gradient(to left, #F66868, #FCE46B, #62C1B9);
  }
}

.work-filter a:hover .all span, .all.active span {
  background: linear-gradient(to left, #F66868, #FCE46B, #62C1B9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-filter a:hover .app, .app.active {
  &:before {
    background: linear-gradient(to left, #4ECDC4, #098EB2);
  }
}

.work-filter a:hover .app span, .app.active span {
  background: linear-gradient(to left, #4ECDC4, #098EB2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-filter a:hover .branding, .branding.active {
  &:before {
    background: linear-gradient(to left, #FFE66D, #4ECDC4);
  }
}

.work-filter a:hover .branding span, .branding.active span {
  background: linear-gradient(to left, #FFE66D, #4ECDC4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-filter a:hover .illustration, .illustration.active {
  &:before {
    background: linear-gradient(to left, #FFE66D, #FF6B6B);
  }
}

.work-filter a:hover .illustration span, .illustration.active span {
  background: linear-gradient(to left, #FFE66D, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-filter a:hover .web, .web.active {
  &:before {
    background: linear-gradient(to left, #098EB2, #FF6B6B);
  }
}

.work-filter a:hover .web span, .web.active span {
  background: linear-gradient(to left, #098EB2, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-filter a:hover .sideproject, .sideproject.active {
  &:before {
    background: linear-gradient(to left, #2E9EC6, #F3AE6D);
  }
}

.work-filter a:hover .sideproject span, .sideproject.active span {
  background: linear-gradient(to left, #2E9EC6, #F3AE6D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


a:hover .tag-resume {
  &:before {
    background: linear-gradient(to left, #098EB2, #FF6B6B);
  }
}

a:hover .tag-resume span {
  background: linear-gradient(to left, #098EB2, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app, .branding, .web, .illustration, .all, .sideproject, .tag-project {
  &:before {
    background: #000;
  }
}

.tag-app {
  &:before {
    background: linear-gradient(to left, #4ECDC4, #098EB2) !important;
  }
}
.tag-web {
  &:before {
    background: linear-gradient(to left, #098EB2, #FF6B6B) !important;
  }
}
.tag-illustration {
  &:before {
    background: linear-gradient(to left, #FFE66D, #FF6B6B) !important;
  }
}
.tag-branding {
  &:before {
    background: linear-gradient(to left, #FFE66D, #4ECDC4) !important;
  }
}

.tag-project span, .app span, .branding span, .web span, .illustration span, .all span, .sideproject span { 
  background: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag-app span {
  background: linear-gradient(to left, #4ECDC4, #098EB2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag-web span {
  background: linear-gradient(to left, #098EB2, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag-illustration span {
  background: linear-gradient(to left, #FFE66D, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag-branding span {
  background: linear-gradient(to left, #FFE66D, #4ECDC4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-icons {
  margin-bottom: 0.7rem;
}

.contact-icons > a {
  margin-right: 1.5rem;
}

.navfixed {
  position: fixed;
  top: 0;
  width: 100%;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
